<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sunzsh.svg4figmaTool</string>
	<key>connections</key>
	<dict>
		<key>06AF5720-48DD-4D5D-868A-81EA7578B5C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB62F956-B4BE-4228-A370-218A15D142F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E5BBF35-4E82-40E3-A6CE-3D41C2DF6121</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDB8F24A-C956-4908-B2CA-F1863B74995E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F2CBE89-9C5D-4C07-867E-5DD52F108064</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63C092DF-086C-4FF5-809E-18536DE76592</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>438D21CF-68F5-4D78-8FB1-1CB2B26ABB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D66868EA-899B-47E9-8E96-F9B239871735</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57501982-5B30-4F97-878F-B9FF9F6D1101</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F2CBE89-9C5D-4C07-867E-5DD52F108064</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59EA628E-4989-4A04-813F-DF742DB6CBFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57501982-5B30-4F97-878F-B9FF9F6D1101</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63C092DF-086C-4FF5-809E-18536DE76592</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AC0F472-4F5F-41FD-825C-547509128C95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B2199C21-26E2-43C0-B5F3-5B15CD2FEEF7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E5BBF35-4E82-40E3-A6CE-3D41C2DF6121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CA7E371-E6CA-4F47-8B25-A209C8963916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57501982-5B30-4F97-878F-B9FF9F6D1101</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C316E84D-1E72-4038-8A11-C986681403B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA7E371-E6CA-4F47-8B25-A209C8963916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59EA628E-4989-4A04-813F-DF742DB6CBFD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>仅将结果复制到剪切板</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB62F956-B4BE-4228-A370-218A15D142F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>438D21CF-68F5-4D78-8FB1-1CB2B26ABB1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDB8F24A-C956-4908-B2CA-F1863B74995E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06AF5720-48DD-4D5D-868A-81EA7578B5C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaoshan</string>
	<key>description</key>
	<string>保存当前剪切板</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>figma复制的svg处理</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3AC0F472-4F5F-41FD-825C-547509128C95</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>svg</string>
				<key>subtext</key>
				<string>有参数时会保存到当前打开的目录下（参数名为文件名）</string>
				<key>text</key>
				<string>处理剪切板的svg内容</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C316E84D-1E72-4038-8A11-C986681403B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:filename}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>仅复制结果</string>
						<key>uid</key>
						<string>B2199C21-26E2-43C0-B5F3-5B15CD2FEEF7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>63C092DF-086C-4FF5-809E-18536DE76592</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string> fill\=\"[^\"]*\"</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2F2CBE89-9C5D-4C07-867E-5DD52F108064</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>57501982-5B30-4F97-878F-B9FF9F6D1101</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8CA7E371-E6CA-4F47-8B25-A209C8963916</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  tell application "Finder"
    set pathList to (POSIX path of (folder of the front window as alias))
  return pathList
  end tell 
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>06AF5720-48DD-4D5D-868A-81EA7578B5C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string>\"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1E5BBF35-4E82-40E3-A6CE-3D41C2DF6121</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D66868EA-899B-47E9-8E96-F9B239871735</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>copyonly</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>59EA628E-4989-4A04-813F-DF742DB6CBFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>EB62F956-B4BE-4228-A370-218A15D142F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>content</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FDB8F24A-C956-4908-B2CA-F1863B74995E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>echo "{var:content}" &gt; "{query}{var:filename}"</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>438D21CF-68F5-4D78-8FB1-1CB2B26ABB1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06AF5720-48DD-4D5D-868A-81EA7578B5C7</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>1E5BBF35-4E82-40E3-A6CE-3D41C2DF6121</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2F2CBE89-9C5D-4C07-867E-5DD52F108064</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>3AC0F472-4F5F-41FD-825C-547509128C95</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>438D21CF-68F5-4D78-8FB1-1CB2B26ABB1E</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>57501982-5B30-4F97-878F-B9FF9F6D1101</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>59EA628E-4989-4A04-813F-DF742DB6CBFD</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>63C092DF-086C-4FF5-809E-18536DE76592</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>8CA7E371-E6CA-4F47-8B25-A209C8963916</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>C316E84D-1E72-4038-8A11-C986681403B6</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>D66868EA-899B-47E9-8E96-F9B239871735</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>EB62F956-B4BE-4228-A370-218A15D142F5</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>FDB8F24A-C956-4908-B2CA-F1863B74995E</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/sunzsh</string>
</dict>
</plist>
