<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>weekly</string>
	<key>connections</key>
	<dict>
		<key>183BBABB-2BC8-4566-8C92-AC26F7F51F0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFF0B4EE-BF1F-4369-AEC9-44466A967C8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FE539CF-A13E-483B-A0FC-03E330528F9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B34C465-4F36-452F-B16E-E87DB9E872DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63F30889-D534-49B4-8948-287B0D1B2528</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C246FB74-35F2-43D6-8246-9E1AB6476174</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B34C465-4F36-452F-B16E-E87DB9E872DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6588CBB8-8225-4528-9FF5-CDA6CCA34A59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89D43BB4-2E87-47F1-B570-9491F37D9AE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83EDF2A7-8F74-4C7F-81A4-DD402084312E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EF37141-2A44-4E90-8908-D0916C55D753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79D2F72B-B55A-4A29-A960-4FF09DC11134</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>968E03CD-2AE5-4F3F-A7FC-3FBB286A739A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>183BBABB-2BC8-4566-8C92-AC26F7F51F0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DF2AEFE-2BE4-44AF-A95B-061411F785AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89D43BB4-2E87-47F1-B570-9491F37D9AE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C246FB74-35F2-43D6-8246-9E1AB6476174</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EF37141-2A44-4E90-8908-D0916C55D753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>com.github.sunzsh</string>
	<key>description</key>
	<string>记录周报</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>周报工具</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zhoubaolist</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在查询</string>
				<key>script</key>
				<string>./weekly "$basepath" list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>查看周报</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F30889-D534-49B4-8948-287B0D1B2528</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>周报</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>79D2F72B-B55A-4A29-A960-4FF09DC11134</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C246FB74-35F2-43D6-8246-9E1AB6476174</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8EF37141-2A44-4E90-8908-D0916C55D753</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./weekly "$basepath" add "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89D43BB4-2E87-47F1-B570-9491F37D9AE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zhoubao</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>读取中···</string>
				<key>script</key>
				<string>./weekly "$basepath" beforewrite "{query}" "$gitlab_token" "$gitlab_url"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入工作内容</string>
				<key>title</key>
				<string>记录周报项</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9DF2AEFE-2BE4-44AF-A95B-061411F785AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>完成</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>83EDF2A7-8F74-4C7F-81A4-DD402084312E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>new zhoubao()</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>new 周报()</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2FE539CF-A13E-483B-A0FC-03E330528F9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./weekly "$basepath" reset</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B34C465-4F36-452F-B16E-E87DB9E872DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>重置成功！</string>
				<key>title</key>
				<string>我的周报</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6588CBB8-8225-4528-9FF5-CDA6CCA34A59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./weekly "$basepath" infinder</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>183BBABB-2BC8-4566-8C92-AC26F7F51F0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>findzhoubao</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>在finder中打开</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>968E03CD-2AE5-4F3F-A7FC-3FBB286A739A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>CFF0B4EE-BF1F-4369-AEC9-44466A967C8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>配置gitlab_token和gitlab_url后，可以利用"zhoubao %"读取gitlab提交记录的message</string>
	<key>uidata</key>
	<dict>
		<key>183BBABB-2BC8-4566-8C92-AC26F7F51F0A</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>2FE539CF-A13E-483B-A0FC-03E330528F9D</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>63F30889-D534-49B4-8948-287B0D1B2528</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6588CBB8-8225-4528-9FF5-CDA6CCA34A59</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>6B34C465-4F36-452F-B16E-E87DB9E872DA</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>79D2F72B-B55A-4A29-A960-4FF09DC11134</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>83EDF2A7-8F74-4C7F-81A4-DD402084312E</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>89D43BB4-2E87-47F1-B570-9491F37D9AE3</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>8EF37141-2A44-4E90-8908-D0916C55D753</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>968E03CD-2AE5-4F3F-A7FC-3FBB286A739A</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>9DF2AEFE-2BE4-44AF-A95B-061411F785AA</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>C246FB74-35F2-43D6-8246-9E1AB6476174</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>CFF0B4EE-BF1F-4369-AEC9-44466A967C8A</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>basepath</key>
		<string></string>
		<key>gitlab_token</key>
		<string></string>
		<key>gitlab_url</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>gitlab_token</string>
		<string>basepath</string>
		<string>gitlab_url</string>
	</array>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/sunzsh</string>
</dict>
</plist>
