<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sunzsh.gitclone</string>
	<key>connections</key>
	<dict>
		<key>56AB7648-41A1-4D33-8EE3-6FBDF5506C51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E01263A3-57A7-487E-9544-0F41BCEA6BFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D51F6EF-5FD8-4A1E-90BA-5011EA4FCB2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>882EE176-7695-421C-BB88-258601235882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ACD33CCC-F2F8-48F9-9028-9460744D91C7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56AB7648-41A1-4D33-8EE3-6FBDF5506C51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>882EE176-7695-421C-BB88-258601235882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56AB7648-41A1-4D33-8EE3-6FBDF5506C51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F08A5363-A31F-42FA-993D-124CD80E3C6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D51F6EF-5FD8-4A1E-90BA-5011EA4FCB2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaoshan</string>
	<key>description</key>
	<string>自动将剪切板中的地址clone到本地目录</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitClone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  
  tell application "Finder"
    set pathList to (quoted form of POSIX path of (folder of the front window as alias))
    return pathList
  end tell
    
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>882EE176-7695-421C-BB88-258601235882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"demos","arg":"~\/Documents\/personal\/demos\/gitxxs","subtitle":"~\/Documents\/personal\/demos\/gitxxs"},{"title":"desktop","arg":"~\/Desktop","subtitle":"桌面"},{"title":"current","arg":"$CURRENT","subtitle":"当前Finder打开的目录"}]</string>
				<key>keyword</key>
				<string>cloneto</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>clone到目录</string>
				<key>title</key>
				<string>git clone</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>F08A5363-A31F-42FA-993D-124CD80E3C6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>E01263A3-57A7-487E-9544-0F41BCEA6BFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>$CURRENT</string>
						<key>outputlabel</key>
						<string>当前目录</string>
						<key>uid</key>
						<string>ACD33CCC-F2F8-48F9-9028-9460744D91C7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>指定目录</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6D51F6EF-5FD8-4A1E-90BA-5011EA4FCB2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cd {query} &amp;&amp; git clone "{clipboard}"</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>56AB7648-41A1-4D33-8EE3-6FBDF5506C51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>56AB7648-41A1-4D33-8EE3-6FBDF5506C51</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6D51F6EF-5FD8-4A1E-90BA-5011EA4FCB2A</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>882EE176-7695-421C-BB88-258601235882</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E01263A3-57A7-487E-9544-0F41BCEA6BFD</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F08A5363-A31F-42FA-993D-124CD80E3C6C</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/sunzsh</string>
</dict>
</plist>
