<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sunzsh.curl2local</string>
	<key>connections</key>
	<dict>
		<key>0BAB0A4E-3156-4CDF-A9DD-69F329E87C87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32E282A2-96B1-4ECC-9A6B-DA5E438B4F04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3894E4E7-D4DB-4B37-BAD2-EDC41BE3BF00</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EC48611B-4A95-493F-8118-16337943A526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32E282A2-96B1-4ECC-9A6B-DA5E438B4F04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC48611B-4A95-493F-8118-16337943A526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33D7EB98-1AF8-496F-B2AC-20D5EAC49153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D68379DB-EEA0-4209-91CA-EF5C0B8E404C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64B500D8-58FF-4C9C-9BB3-62E2F720343F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E039EB8C-9790-42FF-BC9F-863C11736447</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>结果自动存入剪切板</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA158211-702C-47ED-B0CA-411A691791A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AACA84CC-BCE4-4E0F-9E89-AFE4C7A79719</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>自动去除path第一段</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6603080-F3EF-4506-8995-A5ABB8670FB2</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>自动去除path第一段 &amp; 结果自动存入剪切板</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78539B98-4AA3-498B-A8C6-DDD1A6A07669</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF9DDA7C-D008-47E2-ADA3-CA5C07E2D1D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AACA84CC-BCE4-4E0F-9E89-AFE4C7A79719</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78539B98-4AA3-498B-A8C6-DDD1A6A07669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E039EB8C-9790-42FF-BC9F-863C11736447</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78539B98-4AA3-498B-A8C6-DDD1A6A07669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA158211-702C-47ED-B0CA-411A691791A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78539B98-4AA3-498B-A8C6-DDD1A6A07669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC48611B-4A95-493F-8118-16337943A526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33D7EB98-1AF8-496F-B2AC-20D5EAC49153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3894E4E7-D4DB-4B37-BAD2-EDC41BE3BF00</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D68379DB-EEA0-4209-91CA-EF5C0B8E404C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6603080-F3EF-4506-8995-A5ABB8670FB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78539B98-4AA3-498B-A8C6-DDD1A6A07669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF9DDA7C-D008-47E2-ADA3-CA5C07E2D1D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BAB0A4E-3156-4CDF-A9DD-69F329E87C87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaoshan</string>
	<key>description</key>
	<string>curl转local地址</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>curl2local</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pbcopy</key>
					<string>true</string>
					<key>port</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E039EB8C-9790-42FF-BC9F-863C11736447</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} | pbcopy</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33D7EB98-1AF8-496F-B2AC-20D5EAC49153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^(curl 'http\://[^/]+)/[^/]+/</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>32E282A2-96B1-4ECC-9A6B-DA5E438B4F04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>curl2local</string>
				<key>subtext</key>
				<string>输入端口号（默认80）</string>
				<key>text</key>
				<string>curl转本地</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>64B500D8-58FF-4C9C-9BB3-62E2F720343F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:del_first_path}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>去除第一段path</string>
						<key>uid</key>
						<string>3894E4E7-D4DB-4B37-BAD2-EDC41BE3BF00</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0BAB0A4E-3156-4CDF-A9DD-69F329E87C87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D68379DB-EEA0-4209-91CA-EF5C0B8E404C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pbcopy}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>追加pbcopy</string>
						<key>uid</key>
						<string>3894E4E7-D4DB-4B37-BAD2-EDC41BE3BF00</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EC48611B-4A95-493F-8118-16337943A526</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^(curl 'http\://[\w.]+)\:/</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FF9DDA7C-D008-47E2-ADA3-CA5C07E2D1D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>port</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EA158211-702C-47ED-B0CA-411A691791A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^curl '(https|http):\/\/([\w\-\_.]+)(:\d+)?(\/?.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>curl 'http://127.0.0.1:{var:port}$4</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>78539B98-4AA3-498B-A8C6-DDD1A6A07669</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>del_first_path</key>
					<string>true</string>
					<key>port</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AACA84CC-BCE4-4E0F-9E89-AFE4C7A79719</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>del_first_path</key>
					<string>true</string>
					<key>pbcopy</key>
					<string>true</string>
					<key>port</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F6603080-F3EF-4506-8995-A5ABB8670FB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0BAB0A4E-3156-4CDF-A9DD-69F329E87C87</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>32E282A2-96B1-4ECC-9A6B-DA5E438B4F04</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>33D7EB98-1AF8-496F-B2AC-20D5EAC49153</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>64B500D8-58FF-4C9C-9BB3-62E2F720343F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>78539B98-4AA3-498B-A8C6-DDD1A6A07669</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>AACA84CC-BCE4-4E0F-9E89-AFE4C7A79719</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>D68379DB-EEA0-4209-91CA-EF5C0B8E404C</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>E039EB8C-9790-42FF-BC9F-863C11736447</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>EA158211-702C-47ED-B0CA-411A691791A8</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>EC48611B-4A95-493F-8118-16337943A526</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>F6603080-F3EF-4506-8995-A5ABB8670FB2</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>FF9DDA7C-D008-47E2-ADA3-CA5C07E2D1D8</key>
		<dict>
			<key>note</key>
			<string>替换没有指定本地端口号的时候，“:”后面为空的情况</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/sunzsh</string>
</dict>
</plist>
