<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sunzsh.css</string>
	<key>connections</key>
	<dict>
		<key>180DD631-8B73-4196-8683-E6BCDF67A5D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8346DB28-9F53-4D6B-9FB7-B0BC356B4EC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30DB7C3F-1473-4ADD-95C4-78A47E23748E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F16B367C-3B96-4B3A-ABE2-A180B62D374C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BE7AF14-77D0-4229-BB34-6B32E77351FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F86DB440-B3FF-4E5B-9BD5-406A2E53020A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D16FF52-0F21-46D1-AAC7-E20FC465A282</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BE7AF14-77D0-4229-BB34-6B32E77351FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8346DB28-9F53-4D6B-9FB7-B0BC356B4EC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA55750C-9F25-41DD-A0C0-563B90855B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7005A4D-93B1-4016-90C5-389A73F07340</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB69F792-D390-413C-B499-742143C72106</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA55750C-9F25-41DD-A0C0-563B90855B4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412AAF26-4D6E-4016-B92D-793B623031A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7F07A4E-AE47-4D6E-BC81-EDF9A811B172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D16FF52-0F21-46D1-AAC7-E20FC465A282</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F16B367C-3B96-4B3A-ABE2-A180B62D374C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>180DD631-8B73-4196-8683-E6BCDF67A5D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F86DB440-B3FF-4E5B-9BD5-406A2E53020A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF082D99-1D72-4380-8403-9DA8550B1B3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF082D99-1D72-4380-8403-9DA8550B1B3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7005A4D-93B1-4016-90C5-389A73F07340</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaoshan</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>css</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>inline</string>
				<key>subtext</key>
				<string>&lt;style&gt;...&lt;style&gt; ➔ style="..."</string>
				<key>text</key>
				<string>style 转 inline</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7F07A4E-AE47-4D6E-BC81-EDF9A811B172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CB69F792-D390-413C-B499-742143C72106</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5D16FF52-0F21-46D1-AAC7-E20FC465A282</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\s*;\s*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>; </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F86DB440-B3FF-4E5B-9BD5-406A2E53020A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\s*\:\s*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C7005A4D-93B1-4016-90C5-389A73F07340</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\s*\n+\s*(\n+)?</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4BE7AF14-77D0-4229-BB34-6B32E77351FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(^\s*)|(\s*$)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>FF082D99-1D72-4380-8403-9DA8550B1B3F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>412AAF26-4D6E-4016-B92D-793B623031A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>style</string>
				<key>subtext</key>
				<string>style="..." ➔ &lt;style&gt;...&lt;style&gt;</string>
				<key>text</key>
				<string>inline 转 style</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>30DB7C3F-1473-4ADD-95C4-78A47E23748E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F16B367C-3B96-4B3A-ABE2-A180B62D374C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\s*;\s*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>;
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DA55750C-9F25-41DD-A0C0-563B90855B4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(^\s*)|(\s*$)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8346DB28-9F53-4D6B-9FB7-B0BC356B4EC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\s*\:\s*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>: </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>180DD631-8B73-4196-8683-E6BCDF67A5D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>180DD631-8B73-4196-8683-E6BCDF67A5D2</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>30DB7C3F-1473-4ADD-95C4-78A47E23748E</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>412AAF26-4D6E-4016-B92D-793B623031A3</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>4BE7AF14-77D0-4229-BB34-6B32E77351FF</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5D16FF52-0F21-46D1-AAC7-E20FC465A282</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>8346DB28-9F53-4D6B-9FB7-B0BC356B4EC8</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C7005A4D-93B1-4016-90C5-389A73F07340</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CB69F792-D390-413C-B499-742143C72106</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>DA55750C-9F25-41DD-A0C0-563B90855B4D</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>E7F07A4E-AE47-4D6E-BC81-EDF9A811B172</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F16B367C-3B96-4B3A-ABE2-A180B62D374C</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>F86DB440-B3FF-4E5B-9BD5-406A2E53020A</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>FF082D99-1D72-4380-8403-9DA8550B1B3F</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/sunzsh</string>
</dict>
</plist>
