<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sunzsh.clipboard</string>
	<key>connections</key>
	<dict>
		<key>11173BA4-3E5C-4365-B668-48DFE3F63865</key>
		<array/>
		<key>492C6874-78CE-4823-B239-77F019BBA69F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11173BA4-3E5C-4365-B668-48DFE3F63865</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59BF02BA-D5C9-459A-8364-5BEC2D605B38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>492C6874-78CE-4823-B239-77F019BBA69F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71641463-10A7-4DD7-B941-B534F0AAC050</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>加载剪切板的json</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C14EE150-27E9-4E40-A88C-0CBF95EBF978</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>打开一个空的json编辑器</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71641463-10A7-4DD7-B941-B534F0AAC050</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11173BA4-3E5C-4365-B668-48DFE3F63865</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C14EE150-27E9-4E40-A88C-0CBF95EBF978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11173BA4-3E5C-4365-B668-48DFE3F63865</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaoshan</string>
	<key>description</key>
	<string>chromeapp-jsonedit辅助</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>json编辑器</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>chrome-extension://{var:chromeExtensionsId}/index.html</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>492C6874-78CE-4823-B239-77F019BBA69F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11173BA4-3E5C-4365-B668-48DFE3F63865</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>⌘：加载剪切板；⇧：空的json编辑器</string>
				<key>text</key>
				<string>json编辑器（默认加载末次）</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59BF02BA-D5C9-459A-8364-5BEC2D605B38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>chrome-extension://{var:chromeExtensionsId}/index.html?clipboard</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>71641463-10A7-4DD7-B941-B534F0AAC050</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>chrome-extension://{var:chromeExtensionsId}/index.html?none</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C14EE150-27E9-4E40-A88C-0CBF95EBF978</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>导入时，需要设置变量`chromeExtensionsId`的值
获取方法：打开chrome，进入网址：`chrome://extensions`，找到JsonEditor插件中的ID</string>
	<key>uidata</key>
	<dict>
		<key>11173BA4-3E5C-4365-B668-48DFE3F63865</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>492C6874-78CE-4823-B239-77F019BBA69F</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>59BF02BA-D5C9-459A-8364-5BEC2D605B38</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>71641463-10A7-4DD7-B941-B534F0AAC050</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>C14EE150-27E9-4E40-A88C-0CBF95EBF978</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>chromeExtensionsId</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>chromeExtensionsId</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/sunzsh/chromeapp-jsonedit</string>
</dict>
</plist>
